@charset "utf-8";
@import url(./reset.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
figure{
    width: fit-content;
    height: fit-content;
}
img{
    display: block;
}
html{
    font-size: 16px;
}


@font-face {
    font-family: 'agatho-boldcaps';
    src: url(../font/agatho/Agatho_\ BoldCAPS.otf);
}

@font-face {
    font-family: 'agatho-regularcaps';
    src: url(../font/agatho/Agatho_Regular.otf);
}

@font-face {
    font-family: 'utendo-semibold';
    src: url(../font/utendo/Utendo-Semibold.ttf);
}

@font-face {
    font-family: 'utendo-medium';
    src: url(../font/utendo/Utendo-Medium.ttf);
}

@font-face {
    font-family: 'utendo-regular';
    src: url(../font/utendo/Utendo-Regular.ttf);
}

@font-face {
    font-family: 'utendo-light';
    src: url(../font/utendo/Utendo-Light.ttf);
}

@font-face {
    font-family: 'utendo-extralight';
    src: url(../font/utendo/Utendo-ExtraLight.ttf);
}

@font-face {
    font-family: 'utendo-thin';
    src: url(../font/utendo/Utendo-Thin.ttf);
}

/* header */
header {
    width: 100%;
    height: 70px;
    background-color: #034A62;
    color: #D1F3FF;
    position: relative;
}
header h1{
    display: none;
}
header #h_logo {
    width: 20%;
}
header #h_logo {
    width: fit-content;
    height: fit-content;
    display: block;
    float: left;
    margin: 8px 30px;
    margin-left: 60px;
}
header .menu {
    float: right;
    font-family: 'utendo-extralight';
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-right: 0.625rem;
    position: relative;
}



header .menu>li {
    float: left;
    text-align: center;
    width: 110px;
    line-height: 2.5rem;
    transition: 0.3s;
}
header .menu li a {
    display: block;
}
header .menu>li:hover {
    color: #fff;
}
header .submenu{
    position: absolute;
    display: none;
    z-index: 2;
    margin-top: 14px;
}
header .submenu li {
    line-height: 40px;
    background-color: #034A62;
    color: #D1F3FF;
    font-size: 1.1rem;
    width: 110px;
}
header .submenu li:hover{
    background-color: #D1F3FF;
    color: #034A62;
}
header .h_menu{
    z-index: 99;
    float: right;
    position: absolute;   
    top: 40px;
    right: 0;
    display: none;
}
header .hmenu li a {
    display: block;
}
/* header .hmenu>li:hover{
    background-color: #034A62;
    color: #D1F3FF;
} */
header .hmenu{
    width: 160px;
    margin: 30px auto;
    font-family: 'utendo-extralight';
    font-size: 1.4rem;
}
header .hsubmenu{
    display: none;
}
header .hsubmenu li:hover{
    background-color: #D1F3FF;
    color: #034A62;
}
header .hmenu li a{
    display: block;
}
header .hmenu>li{
    line-height: 40px;
    text-align: center;
    background-color: #D1F3FF;
    color: #034A62;
}
header .hsubmenu li{
    background-color: #034A62;
    color: #D1F3FF;
    font-size: 1.1rem;
}

/* 햄버거바 */
header #ham{
    width: 70px;
    height: 70px;
    padding: 1rem;
    background-color: #034A62;
    float: right;
    cursor: pointer;
    /* 마우스 누르면 누를수 있는영역임 */
    display: none;
}
header #ham .line{
    width: 100%;
    height: 3px;
    background-color: #D1F3FF;
    margin: 8px 0;
    border-radius: 5px;
    transition: 1s;
}
/* #ham:hover .top{
    transform: translateY(11px) rotate(45deg);
}
#ham:hover .mid{
    opacity: 0;
}
#ham:hover .btm{
    transform: translateY(-11px) rotate(-45deg);
} */


/* //header */

/* main */
#wrap .container{
    margin-top: 55px;
}
#wrap .container .row .banner{
    display: block;
}
#wrap .container .row .banner figure{
    width: fit-content;
    height: fit-content;
    margin: auto;
}


/* section1 */
.section1 {
    margin-bottom: 270px;
}

.section1 h2 {
    font-family: 'agatho-boldcaps';
    margin: 100px auto;
    margin-bottom: 28px;
    text-align: center;
    font-size: 3.75rem;
}

.section1 h3 {
    font-family: 'agatho-regularcaps';
    text-transform: capitalize;
    text-align: center;
    font-size: 2.06rem;
    margin-bottom: 200px;
}

/* //section1 */

/* section2 */
.section2 {
    margin-bottom: 246px;
}

.section2 h2 {
    font-family: 'utendo-semibold';
    text-align: center;
    font-size: 3.25rem;
    margin-bottom: 50px;
}

.article {
    width: 100%;
    height: 260px;
}

.section2 .article h5 {
    font-family: 'utendo-regular';
    margin-top: 40px;
    font-size: 1.56rem;
    line-height: 120%;
    height: 7.5rem;
}

.section2 .article .ex {
    font-family: 'utendo-extralight';
    margin-top: 20px;
    font-size: 1rem;
    line-height: 127%;
}

.section2 .a_box p {
    font-family: 'utendo-regular';
    float: right;
    margin-bottom: 10px;
}

.section2 .a_box .circle {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
}

.section2 .a_box .circle .arrow {
    width: 30px;
    height: 30px;
    position: relative;
    margin: -7% auto;
    transform: rotate(135deg);
    padding: 0 6px;
}

.section2 .a_box .circle .arrow::before,
.section2 .a_box .circle .arrow::after {
    content: '';
    position: absolute;
}

.section2 .a_box .circle .arrow::before {
    width: 60%;
    height: 60%;
    border: 1px solid #000;
    border-right: 0;
    border-bottom: 0;
}

.section2 .a_box .circle .arrow::after {
    width: 30px;
    height: 1px;
    background: #000;
    transform-origin: 0 100%;
    transform: rotate(45deg);
}

/* //section2 */

/* section3 */
.section3 {
    margin-bottom: 200px;
}

.section3 img {
    display: block;
}

.section3 p {
    text-align: center;
    font-family: 'utendo-light';
    font-size: 1.25rem;
    margin-top: 10px;
}
.section3 .left p{
    margin-bottom: 50px;
}

/* //section3 */


/* section4 */
.section4 {
    width: 80%;
    /* section에 height값 부여하면 안됨! */
    margin: 0 auto;
    background-color: #034A62;
    /* position: relative; section에 높이값 부여하면 안되고,  */
    overflow: hidden;
}

.section4 .t_box {
    width: 95%;
    /* h값이 아닌 padding으로 위아래 값 부여 */
    /* position: absolute; absolute로 중앙배치가 아닌 margin:(상하여백조절)px auto로 중앙배치해야함! */
    margin: 54px auto;
    padding: 100px 0;
}

.section4 .t_box h2 {
    font-family: 'utendo-semibold';
    font-size: 3.25rem;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
    color: #D1F3FF;
}

/* schedule */
.schedule .list {
    width: 98%;
    height: 80%;
    text-align: left;
    margin: auto;
    color: #D1F3FF;
    font-family: 'utendo-regular';
    font-size: 1.6rem;
    line-height: 122%;
    margin-bottom: 30px;
}

.schedule .list tr td {
    /* border: 1px solid #000; */
    border: none;
    padding: 5px;
}

.schedule .list tr {
    width: 100%;
}

.schedule .list tr:nth-child(2) {
    font-size: 1.3rem;
}

.schedule .list tr td:nth-child(1) {
    width: 23%;
}

.schedule .list tr td:nth-child(2) {
    width: 37%;
}

.schedule .list tr td:nth-child(3) {
    width: 28%;
}

.schedule .list tr:nth-child(1) td:last-child {
    width: 12%;
    font-size: 1.2rem;    
    text-align: center;    
    padding: 3px;
}
.schedule .list tr:nth-child(1) td:last-child .info{
    height: 1.8rem;
    margin: 0 3px;
}

/* .schedule td .button {
    color: #D1F3FF;
    background-color: #034A62;
    width: 0.81rem;
    height: 23px;
    font-size: 1.43rem;
    text-align: center;
} */

/* //schedule */
/* //section4 */

/* section5 */
.section5 .theater{
    height: 950px;
    background-image: url(../img/section2_concertbgc.jpg);
    width: 100%;
    margin-bottom: 200px;
    position: relative;
}

.section5 h2 {
    font-family: 'utendo-semibold';
    text-align: center;
    font-size: 3.25rem;
    padding-top: 320px;
    margin-bottom: 20px;
    color: #D1F3FF;
}

.section5 p {
    font-family: 'utendo-light';
    font-size: 2.56rem;
    text-align: center;
    color: #000;
}

/* .section5 .search {
    display: block;
    margin: auto;
    padding-left: 31%;
    position: relative;
}

.section5 .search input {
    padding: 0.94em 12.5em;
    border-radius: 10%;
    background-color: #D1F3FF;
    margin-right: 10px;
    position: absolute;
    display: block;
}

.section5 .search button {
    padding: 0.81em 1.25rem;
    background-color: #D1F3FF;
    color: #000;
    border-radius: 45%;
    font-family: 'utendo-medium';
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    position: absolute;
} */
.section5 .search{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.section5 .search input{
    width: 20em;
    height: 2em;
    background-color: #D1F3FF;
    display: block;    
    float: left;
    border-radius: 0.3em;
}
.section5 .search button{
    float: right;
    padding: 0.5em;
    border-radius: 20%;
    background-color: #D1F3FF;
    margin-left: 1.3em;
}


/* //section5 */

/* section6 */
.section6 button {
    margin: 0 auto;
    display: block;
    background-color: #D1F3FF;
    color: #034A62;
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 30%;
    /* border: 0.5px solid #333; */
    font-family: 'utendo-medium';
    font-size: 1.5rem;
    text-align: center;
    line-height: 20px;
}

.section6 {
    margin-bottom: 220px;
}

.section6 .container h5 {
    font-family: 'utendo-regular';
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 10px;
}

.section6 .container .row {
    margin-bottom: 60px;
}
.section6 .container .row img{
    margin: 0 auto;
}

/* //section6 */

/* section7 */

.section7 .fans{
    width: 100%; 
    height: 1182px;
    background-color: #034A62;
    color: #D1F3FF;
    padding-top: 200px;
}

.section7 .fans .f_box h2 {
    font-family: 'utendo-semibold';
    font-size: 3.25rem;
    text-align: center;
    /* padding-top: 200px; h2는 f_box 내부에 있으므로, 필통을 옮기지 않고 필토 안 연필을 억지로 옮기려는 것과 같다.  */
    margin-bottom: 20px;
    color: #D1F3FF;
}

.section7 .fans .f_box p {
    font-family: 'utendo-extralight';
    font-size: 1.31rem;
    line-height: 127%;
    letter-spacing: 1%;
    text-align: center;
    margin-bottom: 50px;
}

.section7 .fans .f_box button {
    margin: 0 auto;
    display: block;
    background-color: #D1F3FF;
    color: #034A62;
    padding: 10px 20px;
    border-radius: 30%;
    /* border: 0.5px solid #333; */
    font-family: 'utendo-medium';
    font-size: 1.5rem;
    margin-bottom: 70px;
}
/*.section7 .container .row .t_box{
    position: relative;
}
.section7 .container .row .t_box .t {
    position: absolute;
}*/
.section7 .fans .container .row .t_box .t {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    position: relative;
}

.section7 .fans .container .row .t_box .t .circle {
    width: 2em;
    height: 2em;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: skyblue;
    /* float: left;
    position: absolute; 같이 부여하면 안됨! */
    position: absolute;
    display: flex;
    margin: 10px 10px 10px 10px ;
    
}
.section7 .fans .container .row .t_box .t p {
    /* padding: 0.625em 0.625em;
    padding-left: 2.3em; */
    display: block;
    color: #000;
    font-family: 'utendo-regular';
    font-size: 1.125rem;
    position: absolute;  
    display: flex;
    line-height: 50px;
    margin-left: 55px;
}

/* //section7 */

/* footer */
footer {
    background-color: #034A62;
    height: 262px;
}

footer .icon {
    width: 618px;
    height: 73px;
    margin: 0 auto;
}

footer .icon img {
    width: 73px;
    height: 73px;
    float: left;
    margin-right: 30px;
    display: block;
}

footer .copyright {
    margin: 0 auto;
}

footer .copyright p {
    text-align: center;
    padding-top: 150px;
    color: #D1F3FF;
}

/* //footer */

/* //main */


/* 반응형 */

@media screen and (max-width: 1482px) {
    .schedule .list tr td:nth-child(3) {
        width: 27%;
    }
    .schedule .list tr td:last-child {
        width: 13%;
        height: 1.2rem;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {

    /*.wrap .l_box figure img{
        display: none;
    }*/
    
    .section2 h5{
        font-size: 1.1rem;
        overflow: hidden;
    }

    .schedule .list {
        font-size: 1.5rem;        
    }
    .schedule .list tr:nth-child(2) {
        font-size: 1.1rem;
    }
    .schedule .list tr td:last-child {
        font-size: 1.1rem;
    }
    /* .schedule button {
        color: #D1F3FF;
        background-color: #034A62;
        padding: 8px 16px;
        font-size: 0.625rem;
    } */
    .section7 .fans .container .row .t_box .t .circle{
        width: 1.5em;
        height: 1.5em;
    }
    .section7 .fans .container .row .t_box .t p{
        font-size: 1rem;
        padding-top: 0.5em;
        padding-left: 1.9em;
    }

}

@media screen and (max-width: 991px) {
/* 
    #wrap .container .row{
        margin: 0 auto;
    } */

    header nav ul li {
        display: none;
    }
    header #ham{
        display: block;
    }
    .section2 h5{
        font-size: 1rem;
        overflow: hidden;
    }
    .section2 .article .ex{
        font-size: 0.85rem;
        overflow: hidden;
    }
    .section3 p{
        font-size: 1rem;
    }

    .section4{
        width: 100%;
    }
    .schedule .list {
        font-size: 1.3rem;
    }
    .schedule .list tr:nth-child(2) {
        font-size: 1.1rem;
    }
    .schedule .list tr td:last-child {
        font-size: 1.1rem;
    }

    /* .schedule button {
        color: #D1F3FF;
        background-color: #034A62;
        padding: 8px 16px;
        font-size: 0.625rem;
    } */
    .section7 .fans{
        height: 1500px;
    }
    .section7 .fans .container .row .t_box{
        display: block;
    }
    .section7 .fans .container .row .t_box img{
        width: 20.6rem;
        height: 100%;
    }
    .section7 .fans .container .row .t_box .t .circle{
        width: 2em;
        height: 2em;
        margin: 0.3em 0.3em;
    }
    .section7 .fans .container .row .t_box .t p{
        padding-top: 0.7em;
    }
}
@media screen and (max-width: 820px){
    .section5 .search .box{
        width: 13em;
    }
}
@media screen and (max-width: 767px) {
    header nav ul li {
        display: none;
    }
    header #ham{
        display: block;
    }
    .section2 h5{
        font-size: 0.7rem;
        overflow: hidden;
    }
    .section2 .article .ex{
        font-size: 1rem;
        overflow: hidden;
    }
    .section3 p{
        font-size: 1rem;
    }
    .schedule .list {
        font-size: 1.1rem;
    }
    .schedule .list tr td:nth-child(3) {
        display: none;
    }
    .schedule .list tr:nth-child(2) {
        font-size: 1rem;
    }
    .schedule .list tr td:last-child {
        font-size: 1rem;
    }
    .section5 .search input{
        width: 10em;
    }
    .section7 .fans{
        height: 1500px;
    }
    .section7 .fans .container .row .t_box .t .circle{
        width: 1.6em;
        height: 1.6em;
        margin: 0.2em 0.2em;
    }
    .section7 .fans .container .row .t_box .t p{
        padding-top: 0.4em;
    }
    footer{
        height: 360px;
    }
    footer .icon {
        width: 309px;
        height: 146px;
        margin: 0 auto;
        color: #fff;
    }
}

@media screen and (max-width: 575px) {
    header nav ul li {
        display: none;
    }
    .section2 .a_box{
        padding-bottom: 5rem;
    }
    .section2 .article .ex{
        font-size: 1rem;
        overflow: hidden;
    }
    .section3 p{
        font-size: 1rem;
    }
    .schedule .list {
        font-size: 1rem;
    }
    .schedule .list tr:nth-child(2) {
        font-size: 0.8rem;
    }
    .schedule .list tr td:last-child {
        font-size: 0.8rem;
    }
    .section5 .search input{
        width: 6em;
    }
    .section6 .container .row {
        margin-bottom: 0;
    }
    .section6 .container .row .col-md-4{
        margin-bottom: 3em;
    }
    .section7 .fans .container .row .t_box .t p{
        font-size: 0.9rem;
        padding-top: 0.7em;
    }    
}
@media screen and (max-width: 500px){
    .section7 .fans .container .row .t_box .t .circle{
        width: 1.1em;
        height: 1.1em;
        margin: 0.2em 0.2em;
    }
    .section7 .fans .container .row .t_box .t p{
        font-size: 0.85rem;
        padding-top: 0.6em;
    }
}
@media screen and (max-width: 415px){
    .section5 p{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    header nav ul li {
        display: none;
    }
    .section3 p{
        font-size: 1rem;
    }
    .schedule .list {
        font-size: 1rem;
    }
    .schedule .list tr:nth-child(2) {
        font-size: 0.6rem;
    }
    .schedule .list tr td:last-child {
        font-size: 0.6rem;
    }
    .section5 p{
        display: none;
    }
    .section7 .fans .container .row .t_box .t .circle{
        width: 1.1em;
        height: 1.1em;
        margin: 0.2em 0.2em;
    }
    .section7 .fans .container .row .t_box .t p{
        font-size: 0.8rem;
        padding-top: 0.5em;
    }
}
@media screen and (max-width: 400px){
    .section5 .search input{
        display: none;
    }
}
